name: RW greeting
on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string

jobs:
  greeting_job:
    runs-on: ubuntu-latest
    steps:
      - name: Greeting Action
        uses: actions/hello-world-javascript-action@v1
        with: 
          who-to-greet: ${{ inputs.username }}
